@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');





:root{

    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo:black;
    --fonte-principal: 'Montserrat';
    --botao-azul-efeito:#3d86df;

}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);

    
}

*{
    margin:0;
    padding:0;
}

  



.container__link{

    margin-top: 0%;
    
    display:flex;
      align-items: center;
      justify-content: center;
     gap: 3rem;
     padding: 1rem 2rem;
    

         

}

.rede{

   display: flex;
   justify-content: center;
   gap: 1em;
   font-size: 20px;

}



.redeh3{
    
    color: #22D4FD;

}

.cabecalho__link:hover{
   color: var(--branco-principal);
}

.cabecalho__link:active{
    color:#22D4FD;
 }
.container__titulo{
 
    display: flex;
    justify-content: center;
  font-size: 100px;
   

}




.apresentacao__Links__link{
 

margin-right: 0;
  font-size: 5px;

}

#check{
    display: none;
}

#icone{
    cursor:pointer;
    padding:15px;
    position:absolute;
    z-index: 1;
}

 .dpmenu
    {
    background-color: #22D4FD;
    height: 100%;
    width: 300px;
    position:absolute;
    transition: all .2s linear;
    left: -300px;
    
}


.cabecalho__menu{
    width: 100%;
  position:absolute;
    top:36px;
}
   
    nav a{
        text-decoration: none;
    }
    
    .link{
        position:relative;
        background-color: #22D4FD;
        color:var(--branco-principal);
        padding: 20px;
        font-family: 'Montserrat' , san-serif;
        font-size: 15pt;
        transition: all .2s linear;
        border-bottom: 2px solid #222;
        opacity: 0;
        margin-top: 200px;
    }
  
    .link:hover{
        background-color: #000000;
    }

    #check:checked .dpmenu .cabecalho.menu{
        opacity: 1;
        margin-top: 0;
        transition-delay: .2s;

    }

    #check:checked ~.dpmenu .cabecalho__menu a.link{
        transform: translateX(300px);

    }
  
.apresentacao__img{
    gap: 2rem;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    padding-left: 4%;
  
  
    max-width: 90%;
     
  

}


    
.container__imagem{
    padding-left: 4rem;
    padding-right: 4rem;
    width:60%;
    display:flex;
    justify-content: center;
   
}


  .container__bt{
    gap: 2rem;
    display: flex;
  flex-direction: column;
align-items: center;

  }
    .container__subt{
        padding: 2rem 1rem;
        
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    .container__maps{
     
        /* background-color: #22D4FD; */
     
       align-items: center;
         gap: 10px;
        border: 2px solid #22D4FD;
        width: 300px;
        text-align: center;
        border-radius: 8px;
        font-size: 24px;
        font-weight: 600;
        padding: 5px 2rem ;
        color:#F6F6F6;
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;

    }

    .container__maps:hover{
    
        background-color: #272727;
    }


    .rodape{
       margin-top: 2rem;
        text-align: center;
        padding: 16px 2rem;
    color: #000000;
    background-color:#22D4FD ;
    font-family:'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    }